@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #b23920;
  --color-secondary: #f7b754;
  --color-tertiary: #223c5f;
}

@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-poppins text-black/80 text-base;
  }
  .container {
    @apply max-w-7xl w-full mx-auto px-4 ;
  }
  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}


@layer components {
  header {
    @apply bg-white;
  }
  .headerNav ul {
    @apply flex flex-col gap-5 fixed w-full top-26 text-left items-start overflow-hidden right-0 h-0 opacity-0 duration-300 
        /* tablet - desktop */
        md:opacity-100 md:flex-row md:items-center md:top-auto md:h-auto md:static md:shadow-none;
  }
  .headerNav ul.open {
    @apply h-fit opacity-100 bg-primary shadow-md w-full py-5 text-white top-28 px-4 pb-3 duration-300 md:shadow-none md:px-0 md:pb-0;

  }
  .toggleMenu span {
    @apply block my-1 rounded-xl bg-primary justify-center items-center;
  }
  .toggleMenu span:first-child{
    @apply w-10 h-1;
  }
   .toggleMenu span:last-child{
    @apply w-8 h-1;
  }
  .toggleMenu.open span:first-child{
    @apply w-8 h-1 duration-100;
  }
    .toggleMenu.open span:last-child{
    @apply w-10 h-1 duration-100;
  }
  .toggleMenu{
    @apply mx-5 md:hidden;
  }
  .transparent {
    @apply hidden;
  }
  .transparent.open {
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 top-75 duration-300 overflow-y-hidden;
  }
  .btn {
    @apply inline-block px-6 py-3 rounded-lg font-medium w-full text-center md:w-auto;
  }
  .btn--primary {
    @apply bg-primary text-white hover:bg-white hover:text-primary;
  }
  .card, .eventCard{
    @apply bg-transparent w-65 px-10 py-10 rounded-xl shadow-md  text-white text-center outline-1 flex flex-col items-center;
  }
  .card img{
    @apply size-10 mb-6 text-center;
  }
  .card h3, .eventCard h5{
    @apply font-semibold mb-3 text-white;
  }
  .card p{
    @apply mb-5;
  }
  .eventTab{
    @apply font-bold  pr-3 cursor-pointer lg:px-10;
  }
  .eventTab:last-child{
  @apply border-none;
  }
  .eventTab.active{
  @apply text-secondary outline-1;
  }
  .eventItemWrap{
  @apply flex flex-col flex-wrap gap-5;
  }
  .eventItem{
  @apply hidden lg:hidden;
  }
  .eventItem.active{
  @apply block lg:block ;
  }
  .reviewItem {
    @apply py-10 px-12 text-center mb-4;
  }
  .reviewItem img {
    @apply size-20 object-cover rounded-full mx-auto mb-4;
  }
  .reviewItem p {
    @apply mb-4;
  }
  .storyItem p {
    @apply py-5;
  }

}





